@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
*{
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: rgb(211, 197, 197);
    font-family: "Tahoma", "Roboto", Helvetica, Arial, sans-serif;
}
#root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.btn-container{
    margin-top: 20px;
    justify-content: left;
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
}
#Map-button{
    padding: 0;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
}
#Map-button svg{
    width: 50px;
    height: 40px;
}
#Favorite-button{
    padding: 0;
    margin-top: 20px;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
}   
#Favorite-button svg{
    width: 50px;
    height: 40px;
}
.modal-Search{
    background-color: white;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.modal-Favorite{
    margin-top: 20px;
    background-color: white;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 10px;
}
.modal_inner{
    border-radius: 5px;
    margin: 1rem;
    position: relative;
}
.modal_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* .search-bar{
    width: 300px;
    font-size: 14px;
    height: 36px;
    background-color: #343746;
    padding-right: 21px;
    position: relative;
    align-items: center;
    border: 1px solid transparent;
}
.search-bar__input{
    border: none;
    outline: none;
} */
.search-bar{
    width: 300px;
    display: flex;
    background-color:#d3c5c5;
    
    border: 1px solid #d3c5c5;
    border-radius: 30px;
    padding: 3px;    
}
.search-bar_input{
    font-size: 20px;
    color: #7c7777;
    width:240px;
    border: none;
    outline: none;
    background-color:#d3c5c5;
    /* background-color:white; */
    height: 30px;
    padding:0;
}
.btn-search{
    height: 30px;
    text-align: center;
    width: 40px;
    border: none;
    background-color: transparent;
    color: #7c7777;
    cursor: pointer;  
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.MapVietNam{
    cursor: pointer;
    position: absolute;
}

#Detail-Province{

    width: 700px;
    height: 500px;
    background-color: white;
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;

    border-radius: 30px;
    z-index: 1;


}

#svg-Container{

    margin-top: 30px;
    margin-left: 20px;
    max-width: 100%; /* Giới hạn chiều rộng tối đa của container */
    max-height: 300px; /* Giới hạn chiều cao tối đa của container */
    
 

}


  
  #svg-Container svg {
    width: 100%; /* Chiều rộng của SVG sẽ co dãn theo container */
    height: 100%; /* Chiều cao của SVG sẽ co dãn theo container */
    display: block;
  }



