@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css);
*{
    box-sizing: border-box;
}
body{
    overflow: hidden;
    background: rgb(211, 197, 197);
    font-family: "Tahoma", "Roboto", Helvetica, Arial, sans-serif;
}
#root{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}
.btn-container{
    margin-top: 33px;
    justify-content: left;
    display: flex;
    flex-direction: column; 
    margin-left: 20px;
}
.open-modal-btn{
    padding: 0;
    width: 50px;
    height: 40px;
    border: none;
    cursor: pointer;
    background: transparent;
    display: flex;
}
#Favorite-button{
    margin-top: 20px;
} 
.open-modal-btn svg{
    width: 50px;
    height: 40px;
}
.modal-Search{
    z-index: 5;
    background-color: white;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: none;
}
.modal-Favorite{
    margin-top: 20px;
    background-color: white;
    width: 400px;
    border: 1px solid transparent;
    border-radius: 10px;
    display: none;
}
.modal_inner-Favorite{
    border-radius: 5px;
    margin: 1rem;
    margin-bottom: 2rem;
    position: relative;
    display: flex;
    flex-direction: column;
}
.modal_inner-Search{
    border-radius: 5px;
    margin: 1rem;
    position: relative;
}
.modal_header{
    display: flex;
    flex-direction: row;
    width: 360px;
    justify-content: space-between;
    align-items: center;
}
.close{
    cursor: pointer;
}
.search-bar {
    width: 300px;
    display: flex;
    background-color:#d3c5c5;
    
    border: 1px solid #d3c5c5;
    border-radius: 30px;
    padding: 3px;    
}
/* .search-bar_input{
    font-size: 20px;
    color: #7c7777;
    width:240px;
    border: none;
    outline: none;
    background-color:#d3c5c5;
    height: 30px;
    padding:0;
} */
input[type=text]{
    font-size: 20px;
    color: #7c7777;
    width:240px;
    border: none;
    outline: none;
    background-color:#d3c5c5;
    height: 30px;
    padding:15px 10px;
    transition: all 200ms ease;
}
/* input[type=text]:focus{
    outline: none;
    border: 1px solid #d3c5c5;
} */
.btn-icon-search{
    height: 30px;
    text-align: center;
    width: 40px;
    border: none;
    background-color: transparent;
    color: #7c7777;
    cursor: pointer;  
}
.hidden{
    display: none;
}
.visible{
    display: block;
}
.MapVietNam{
    position: fixed;
    margin-left: 550px;
    margin-top: 20px;
}
/* #svg-map{
    display: none;
} */

#root .MapVietNam .map-overlay{
    width: 100%;
    position: fixed;
    z-index: 5;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
#root .MapVietNam .map-overlay .map-outer-box{
    position: relative;
    
    left: 28rem;
    bottom: 5rem;
    width: 60rem;
    height: 44rem;
}
.province-img{
    display: block;
    width: 100%;
    /* transform: translateX(-50%); */
    /* left: 50%; */
}
#root .MapVietNam .map-overlay .map-outer-box .map-inner-box{
    position: relative;
    z-index: 2;
    background-color: white;
    border-radius: 10px;
    height: 100%;
    padding: 20px;
}

#root .MapVietNam .map-overlay .map-outer-box .map-inner-box .fade-animate i{
    cursor: pointer;
    position: absolute;
    color: grey;
    font-size: 2rem;
    font-weight: 0;
    float: left;
    margin-left: 2.5rem;
}
/* #root .MapVietNam .map-overlay .map-outer-box .map-inner-box .fade-animate i:hover{
    
    color: #d9317a;
} */

#root .MapVietNam .map-overlay .map-outer-box .map-inner-box .close-div{
    width: 100%;
    height: max-content;
    margin-bottom: 1rem;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
}
#root .MapVietNam .map-overlay .map-outer-box .map-inner-box .close-div #close-Province{
    color: rgba(0, 0, 0, .5);
    font-size: 1.5rem;
}
#root .MapVietNam .map-overlay .map-outer-box .map-inner-box h2{
    text-align: center;
    margin-bottom: 1rem;
}
.calendar-container{
    margin-left: 50%;
    z-index: 10;
}


#svg-Container{

    justify-content: center;
    display: flex;
    
    }
    
    .province{
        cursor: pointer;
    }




.table{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 160px;
    display: none;
    background-color: white;
    border-radius: 15px;
    flex-direction: row;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    
}

.content-left{
    /* flex: 0 0 20px; */
    width: 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ccc;
}

.row{
    height:30px;
    text-align: right;
}

.legend-left{
    width: 80px;
    max-width: 80px;
    text-align: right;
    color: #999;
    padding-left: 6px;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
}

.legend-right{
    font-size: 15px;
    width: 30px;
    height: 30px;

}

.legend-right img{
    max-width: 100%;
    max-height: 100%;
}

.content-right{
    display: flex;
    flex-direction: column;
    width: 92%;
    height: 100%;
    
}

.content-right .row{
    border-top: 1px solid #ccc;
}

.data-table{
    width: 100%;
    border-collapse: collapse;
   
}

.data-table tr{
    height: 30px;
    width: 30px;
}

.data-table th, .data-table td{
    border: 1px solid #ddd;
    border-top: transparent;
    border-right: transparent;
    
    text-align: left;
    width: 30px; 
    height: 30px;
}

.favorite-menu{
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.favorite-menu nav{
    width: 80%;
}
.favs-line{
    margin-top: 15px;
    margin-bottom: 25px;
}
.favs-province-name{
    font-size: 16px;
    font-weight: 300;
    overflow: hidden;
    display: inline-block;
}
.favs-deleter{
    font-size: 16px;
    float: right;
}
.favs-weather{
    display: block;
    padding: 5px 10px;
}
.favs-weather table{
    border-collapse: collapse;
    width: 100%;
    position: relative;
}
.favs-weather table tbody{
    display: table-row-group;
    vertical-align: middle;
}
.favs-weather table tbody tr{
    display: table-row;
}
.favs-weather table tbody tr td{
    color: black;
    font-size: 9px;
    text-align: center;
    text-transform: uppercase;
    /* border-right: 1px solid rgba(239,239,239,.3); */
    border-right: 1px solid black;
}
.favs-weather table tbody tr td:last-child{
    border: none;
}
.favs-weather table tbody tr td img{
    width: 27px;
    margin: 2px auto 2px auto;
    display: block;
}
.favs-weather table tbody tr td big{
    display: block;
    font-size: 12px;
    padding-bottom: 3.5px;
}

/* .favorite-menu nav ul li{
    position: relative;
    width: 100%;
    padding: 1.5rem 0px;
    font-size: 30px;
    font-weight: 300;
}
.favorite-menu nav ul li p{
    overflow: hidden;
}
.favorite-menu nav ul li span{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: black;
}
.favorite-menu nav ul li img{
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    width: 20%;
    transform: translateY(50px) rotate(45deg);
    opacity: 0;
    transition: all 700ms cubic-bezier(0.19, 1, 0.22, 1);
}
.favorite-menu nav ul li:hover img{
    opacity: 1;
    transform: translateY(10px) rotate(0deg);
} */